[Desktop Entry]
Version=1.0
Name=Kotatogram Desktop
Comment=Experimental Telegram Desktop fork
TryExec=kotatogram-desktop
Exec=kotatogram-desktop -- %u
Icon=kotatogram
Terminal=false
StartupWMClass=KotatogramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;kotatogram;
X-GNOME-UsesNotifications=true
